%h3 Get Involved
%p
  The Shattered Ruby community welcomes your contributions.
%ul
  %li
    = link "Google Groups", "http://groups.google.com/group/shatteredruby"
  %li
    = link "Trac", "http://trac.shatteredruby.com"
  %li
    = link "Ogre Forums", "http://www.ogre3d.org/phpBB2/"
  %li
    = link "Ogre.rb Forums", "http://rubyforge.org/forum/?group_id=3602"
%p
  Wondering where to start contributing?
  %br
  = link "Documentation"
  always needs help.