%h3 Get Involved
%p
  The Shattered Ruby community welcomes your contributions.
%ul
  %li
    = link "Google Groups", "http://groups.google.com/group/shatteredruby"
  %li
    = link "Rubyforge page", "http://rubyforge.org/projects/shattered"
  %li
    = link "Github page", "http://github.com/mikkel/shattered"
  %li
    = link "Ogre.rb Forums", "http://rubyforge.org/forum/?group_id=3602"
  
%p
  Extra links 
%ul
  %li
    = link "Ogre Forums", "http://www.ogre3d.org/phpBB2/"
%p
  Wondering where to start contributing?
  %br
  = link "Documentation"
  always needs help.
