%h3 Documentation
%p
  Shattered Ruby builds upon the efforts of Ogre3D and Ogre.rb.  It is important to have a grasp of these libraries as well as Shattered Ruby's abstractions.
%h4 Shattered Ruby resources:
%ul
  %li
    = link "RDocs", "/api_docs/index.html"
  %li
    Tutorials (coming soon)
%br
  
%h4 Ogre and Ogrerb resources:
%p
  As the Ogre.rb project points out:
  %br
  Ogre.rb [and Shattered] will not attempt to document the Ogre public API. This library assumes decent working knowledge of Ogre itself, though if you need help Ogre has a very good set of documentation available at these places:
%ul
  %li 
    = link "Ogre.rb RDocs", "http://ogrerb.rubyforge.org/docs/index.html"
  %li
    = link "Ogre Wiki", "http://www.ogre3d.org/wiki/index.php/Main_Page"
  %li
    = link "Ogre Manual", "http://www.ogre3d.org/docs/manual/"
  %li
    = link "Ogre API reference", "http://www.ogre3d.org/docs/api/html/"
%br.clear
%h4 Help Wanted! 
%p
  We need help with making Shattered Ruby more accessible!
  %br
  What we need
  %ul
    %li Examples
    %li Tutorials
    %li Better rdocs
    %li Cool one page cheat sheets
    %li Anything else!
  
